.accordion-container {
  background-color: #007bff;
  padding: 20px;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: left;
  color: #007bff;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.accordion-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 0;
  display: none;
  color: black;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0; /* Inicialmente cerrado */
  opacity: 0; /* Ocultar contenido cerrado */
}

.accordion-content.open {
  display: block; /* Para asegurar que el contenido sea visible */
  max-height: 1000px; /* Ajusta el valor según el contenido esperado */
  opacity: 1;
}

.accordion-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Para que la imagen mantenga sus proporciones */
  max-height: auto; /* Límite de altura máximo para evitar que sea demasiado grande */
  transition: max-height 0.3s ease-in-out;
}
